@media (max-width: 1300px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1024px) {
  .header__header-nav {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fcf7f6fa;
    width: 100%;
    padding: 44px;
    z-index: 999;
  }
  .header__header-nav.active {
    display: block;
  }
  .header__nav-burger,
  .header__nav-close {
    display: block;
  }
  .header__list {
    justify-content: flex-end;
  }
}

@media (max-width: 598px) {
  .header {
    padding-bottom: 20px;
  }
  .header__callback {
    display: none;
  }
  .header__callback-mobile {
    display: block;
    height: 26px;
    padding: 7%;
    border: none;
    background-color: inherit;
    background-image: url("../img/call.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  .header__connect {
    width: 77%;
  }
}

@media (max-width: 420px) {
  .header__phone {
    font-size: 21px;
  }
  .header__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__close {
    left: 85%;
  }
  .header__item {
    padding: 0 0 20px 40px;
  }
}

@media (max-width: 390px) {
  .nav__burger {
    width: 24px;
    height: 18px;
    background-size: cover;
  }
  .callback__phone {
    width: 25px;
  }
  .header__phone {
    font-size: 18px;
  }
}

@media (max-width: 330px) {
  .header__connect {
    width: 83%;
  }
}

@media (max-width: 1300px) {
  .about {
    background-position: 150% 100%;
  }
  .about__caption {
    font-size: 54px;
  }
}

@media (min-width: 1025px) {
  .about__caption {
    &::before {
      content: "{ }";
      position: absolute;
      left: 15%;
      top: 47%;
      font-size: 43px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-28deg) translate(0, 0);
      transition: transform 3s;
    }
    &::after {
      content: "<div>";
      position: absolute;
      right: 54%;
      top: 18%;
      font-size: 29px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-24deg) translate(0, 0);
      transition: transform 3s;
    }
  }
  body {
    &:hover {
      .about__caption {
        &::before {
          transform: rotate(-28deg) translate(-4pc, -15pc);
          transition: transform 1s;
        }
        &::after {
          transform: rotate(-24deg) translate(22pc, 0pc);
          transition: transform 1s;
        }
      }
      .about__small-text {
        &::before {
          transform: rotate(8deg) translate(-48pc, 2pc);
          transition: transform 1s;
        }
        &::after {
          transform: rotate(30deg) translate(34pc, -17pc);
          transition: transform 1s;
        }
      }
      .about__pop-up {
        &::before {
          transform: rotate(-32deg) translate(-33pc, 1pc);
          transition: transform 1s;
        }
        &::after {
          transform: rotate(-26deg) translate(-23pc, 1pc);
          transition: transform 1s;
        }
      }
      .about__right {
        &::after {
          transform: rotate(-26deg) translateX(92pc) translateY(6pc);
          transition: transform 2s;
        }
      }
    }
  }
  .about__small-text {
    &::before {
      content: "#";
      position: absolute;
      left: 53%;
      top: 55%;
      font-size: 55px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(8deg) translate(0, 0);
      transition: transform 3s;
    }
    &::after {
      content: "<div>";
      position: absolute;
      right: 84%;
      bottom: 25%;
      font-size: 29px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(30deg) translate(0, 0);
      transition: transform 3s;
    }
  }
  .about__pop-up {
    &::before {
      content: "{ }";
      position: absolute;
      left: 32%;
      bottom: 52%;
      font-size: 48px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-32deg) translate(0, 0);
      transition: transform 3s;
      cursor: auto;
    }
    &::after {
      content: "</>";
      position: absolute;
      right: 60%;
      bottom: 32%;
      font-size: 38px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-26deg) translate(0pc, 0pc);
      transition: transform 3s;
      cursor: auto;
    }
  }
  .about__right {
    &::after {
      content: "</>";
      position: absolute;
      right: 95%;
      bottom: 11%;
      font-size: 45px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-26deg) translate(0pc, 0pc);
      transition: transform 2s;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    background-position: 230% 100%;
  }
  .about__caption {
    &::before {
      content: "{ }";
      position: absolute;
      left: 8%;
      top: 5%;
      font-size: 43px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(33deg);
    }
  }
  .about__small-text {
    &::after {
      content: "<div>";
      position: absolute;
      right: 14%;
      bottom: 90%;
      font-size: 29px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-17deg);
    }
    &::before {
      content: "#";
      position: absolute;
      left: 5%;
      top: 78%;
      font-size: 55px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(8deg);
    }
  }
  .about__pop-up {
    &::after {
      content: "</>";
      position: absolute;
      right: 49%;
      bottom: 75%;
      font-size: 38px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(16deg);
    }
  }
  .about__right {
    &::after {
      content: "</>";
      position: absolute;
      right: 64%;
      bottom: 23%;
      font-size: 45px;
      font-weight: 700;
      background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
      -webkit-background-clip: text;
      color: transparent;
      transform: rotate(-26deg);
    }
  }
}

@media (max-width: 980px) {
  .about {
    position: relative;
    background-position: 100% 100%;
  }
  .about__container {
    flex-wrap: wrap;
    padding: 0;
  }
  .about__left {
    order: 1;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    background-color: #fff;
  }
  .about__right {
    position: relative;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about__image {
    width: 100%;
    height: auto;
  }
  .about__pop-up {
    margin: 0 auto;
    &::after {
      right: 34%;
      bottom: 95%;
      transform: rotate(-32deg);
    }
  }
  .about__small-text {
    &::before {
      left: 14%;
      top: 24%;
    }
    &::after {
      right: 14%;
      bottom: 71%;
      transform: rotate(20deg);
    }
  }
}

@media (max-width: 589px) {
  .about {
    background-size: 118% 79%;
  }
  .about__caption {
    font-size: 30px;
  }
  .about__small-text {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .offers__list {
    justify-content: center;
  }
  .offers__item {
    width: 33.3333%;
    &:first-child {
      margin-left: 49px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 49px;
    }
  }
}

@media (max-width: 589px) {
  .offers__caption {
    font-size: 30px;
  }
  .offers__item {
    width: 60%;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 0px;
      margin-bottom: 49px;
    }
  }
}

@media (max-width: 358px) {
  .offers__item {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .swiper-container {
    height: 480px;
  }
  .swiper-pagination {
    display: block;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: #ff4e2e;
    ;
  }
}

@media (max-width: 589px) {
  .examples {
    padding: 35px 0px;
  }
  .examles__caption {
    font-size: 30px;
  }
  .swiper-container {
    height: calc(400px - 20%);
  }
}

@media (max-width: 1110px) {
  .price__container {
    padding-left: 40px;
  }
}

@media (max-width: 589px) {
  .price__caption {
    font-size: 28px;
  }
  .price__text {
    font-size: 15px;
  }
}

@media (max-width: 598px) {
  .footer__container {
    display: block;
  }
}

@media (max-width: 454px) {
  .footer__list-left {
    margin-bottom: 46px;
    width: 100%;
  }
  .footer__colum-center {
    width: 100%;
  }
  .footer__column-right {
    width: 100%;
  }
  .footer__callback {
    margin-bottom: 50px;
  }
}

@media (max-width: 390px) {
  .footer__link-left {
    font-size: 15px;
  }
  .footer__phone {
    color: #8993ad;
    font-size: 20px;
    font-weight: 500;
  }
  .footer__mail {
    color: #8993ad;
    font-size: 20px;
    font-weight: 500;
  }
}